{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "babel-plugin-macros"
        ],
        [
            "styled-components",
            {
                "fileName": false
            }
        ]
    ]
}